Rating en fonction de :
- revenue
- budget
- genres
- (runtime)
- vote_count


**Question**

- Qu'est ce qui influe la note d'un film ?
    * ratio revenu budget ? (clustering)
    * revenue, budget, genres, (runtime), vote_count

In [13]:
import pandas as pd

ratings = pd.read_csv('./the-movies-dataset/ratings.csv')
movies = pd.read_csv('./the-movies-dataset/movies_metadata.csv')

/Users/romane/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
notes = ratings['movieId'].groupby([ratings['movieId'], ratings['rating']]).agg({'count'})
notes

                count
movieId rating
1       0.5       441
        1.0       804
        1.5       438
        2.0      2083
        2.5      1584
        3.0     11577
        3.5      5741
        4.0     22020
        4.5      5325
        5.0     15995
2       0.5       263
        1.0       797
        1.5       525
        2.0      2479
        2.5      1810
        3.0      8510
        3.5      2916
        4.0      6035
        4.5       690
        5.0      2035
3       0.5       169
        1.0       772
        1.5       233
        2.0      1665
        2.5       616
        3.0      6213
        3.5       759
        4.0      3433
        4.5       154
        5.0      1483
...               ...
176219  0.5         1
        2.0         1
        2.5         1
        3.0         2
        4.0         1
        5.0         1
176221  2.5         1
176223  4.0         1
176225  3.0         1
176227  3.0         1
176229  2.5         1
176231  2.5         1
176233  2.0         1
176235  1.5         1
176237  3.0         1
176239  3.0         1
        4.5         1
176245  4.5         1
176249  3.5         2
176251  2.0         1
176253  4.5         1
176255  2.0         1
176257  3.0         1
176259  3.5         1
176263  2.0         1
176267  4.0         1
176269  3.5         1
176271  5.0         1
176273  1.0         1
176275  3.0         1

[239381 rows x 1 columns]

In [15]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')