### Tuples

Tuples are lists, containers types that can have several values. But there is one difference with lists. Let's see what

create a list *l* with the values [1, 1, 2].

In [1]:
l = [1,1,2]

modify the second value and put 42 instead of 1

In [2]:
l[1] = 42

Create a tuple *t* with the values (1, 1, 2). To create a tuple use simply parenthesis instead of brackets.

In [2]:
t = (1,1,2)

Modify the second value and put 42 instead. What happened ?

In [4]:
t[1] = 42
# ca marche po

TypeError: 'tuple' object does not support item assignment

The following function compute for all x the two variable function f(x,y) = (x+y, y-x). store the ouput of f(2, 2) in a variable and display its type. What it is ?

In [7]:
def f(x, y):
    return x + y, y - x

In python you can return several variable in the return, they are automatically converted into a tuple. You directly expand the tuple in variables :

In [8]:
o1, o2 = f(3, 3)
print(o1, o2)

6 0

## Sets 

Is another container type which can be use to store *unique* : you can only one value. To create a set you can have the function `set`. Create a set with the values 1, 1, 3 and display it

In [6]:
s = {1,1,3}
s # manque le 1

{1, 3}

Add the number 4 in the set with the method add

In [7]:
s.add(4)
s

{1, 3, 4}

With the list function, transform the set into a list

In [8]:
list(s)

[1, 3, 4]