# A bit of machine learning

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import math

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

What are train set and validation sets ?

<font color='green'>Réponse : </font> A validation dataset is a sample of data held back from training your model that is used to give an estimate of model skill while tuning model’s hyperparameters.

The validation dataset is different from the test dataset that is also held back from the training of the model, but is instead used to give an unbiased estimate of the skill of the final tuned model when comparing or selecting between final models.

Do a train test split with scikit learn on the dataset you cleaned

In [2]:
df = pd.read_csv('./train.csv')
X_train, X_test = train_test_split(df, test_size=0.33)

Train a logistic regression to predict Survived with the variable Age, Sex and the One hot encoded Pclasses

In [3]:
df['Sex'].replace(to_replace=['female','femme'],value=1, inplace=True)
df['Sex'].replace(['male', 'homme'], 0 , inplace=True)
df['Survived'].replace(['O'], 0, inplace=True)
df['Survived'].fillna(0, inplace=True)
df['Survived']= df['Survived'].astype('int')

In [4]:
df = pd.concat([df, pd.get_dummies(df['Pclass'], prefix='Pclass'), pd.get_dummies(df['Sex'], prefix='Sex')], axis=1)
df.fillna(0, inplace=True)
df.drop(columns='Pclass')

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_1,Pclass_2,Pclass_3,Sex_0,Sex_1
0,1,0,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,0,S,0,0,1,1,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0,0,1
2,3,1,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,0,S,0,0,1,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,1,0,0,0,1
4,5,0,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,0,S,0,0,1,1,0
5,6,0,"Moran, Mr. James",0,0.0,0,0,330877,8.4583,0,Q,0,0,1,1,0
6,7,0,"McCarthy, Mr. Timothy J",0,54.0,0,0,17463,51.8625,E46,S,1,0,0,1,0
7,8,0,"Palsson, Master. Gosta Leonard",0,2.0,3,1,349909,21.0750,0,S,0,0,1,1,0
8,9,1,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.0,0,2,347742,11.1333,0,S,0,0,1,0,1
9,10,1,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.0,1,0,237736,30.0708,0,C,0,1,0,0,1
10,11,1,"Sandstrom, Miss. Marguerite Rut",1,4.0,1,1,PP 9549,16.7000,G6,S,0,0,1,0,1
11,12,1,"Bonnell, Miss. Elizabeth",1,58.0,0,0,113783,26.5500,C103,S,1,0,0,0,1
12,13,0,"Saundercock, Mr. William Henry",0,20.0,0,0,A/5. 2151,8.0500,0,S,0,0,1,1,0
13,14,0,"Andersson, Mr. Anders Johan",0,39.0,1,5,347082,31.2750,0,S,0,0,1,1,0
14,15,0,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.0,0,0,350406,7.8542,0,S,0,0,1,0,1
15,16,1,"Hewlett, Mrs. (Mary D Kingcome)",1,55.0,0,0,248706,16.0000,0,S,0,1,0,0,1
16,17,0,"Rice, Master. Eugene",1,2.0,4,1,382652,29.1250,0,Q,0,0,1,0,1
17,18,1,"Williams, Mr. Charles Eugene",0,0.0,0,0,244373,13.0000,0,S,0,1,0,1,0
18,19,0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,31.0,1,0,345763,18.0000,0,S,0,0,1,0,1
19,20,1,"Masselmani, Mrs. Fatima",1,0.0,0,0,2649,7.2250,0,C,0,0,1,0,1
20,21,0,"Fynney, Mr. Joseph J",0,35.0,0,0,239865,26.0000,0,S,0,1,0,1,0
21,22,1,"Beesley, Mr. Lawrence",0,34.0,0,0,248698,13.0000,D56,S,0,1,0,1,0
22,23,1,"McGowan, Miss. Anna ""Annie""",1,15.0,0,0,330923,8.0292,0,Q,0,0,1,0,1
23,24,1,"Sloper, Mr. William Thompson",0,28.0,0,0,113788,35.5000,A6,S,1,0,0,1,0
24,25,0,"Palsson, Miss. Torborg Danira",1,8.0,3,1,349909,21.0750,0,S,0,0,1,0,1
25,26,1,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1,38.0,1,5,347077,31.3875,0,S,0,0,1,0,1
26,27,0,"Emir, Mr. Farred Chehab",0,0.0,0,0,2631,7.2250,0,C,0,0,1,1,0
27,28,0,"Fortune, Mr. Charles Alexander",0,19.0,3,2,19950,263.0000,C23 C25 C27,S,1,0,0,1,0
28,29,1,"O'Dwyer, Miss. Ellen ""Nellie""",1,0.0,0,0,330959,7.8792,0,Q,0,0,1,0,1
29,30,0,"Todoroff, Mr. Lalio",0,0.0,0,0,349216,7.8958,0,S,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,"Giles, Mr. Frederick Edward",0,21.0,1,0,28134,11.5000,0,S,0,1,0,1,0
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1,48.0,0,0,17466,25.9292,D17,S,1,0,0,0,1
863,864,0,"Sage, Miss. Dorothy Edith ""Dolly""",1,0.0,8,2,CA. 2343,69.5500,0,S,0,0,1,0,1
864,865,0,"Gill, Mr. John William",0,24.0,0,0,233866,13.0000,0,S,0,1,0,1,0
865,866,1,"Bystrom, Mrs. (Karolina)",1,42.0,0,0,236852,13.0000,0,S,0,1,0,0,1
866,867,1,"Duran y More, Miss. Asuncion",1,27.0,1,0,SC/PARIS 2149,13.8583,0,C,0,1,0,0,1
867,868,0,"Roebling, Mr. Washington Augustus II",0,31.0,0,0,PC 17590,50.4958,A24,S,1,0,0,1,0
868,869,0,"van Melkebeke, Mr. Philemon",0,0.0,0,0,345777,9.5000,0,S,0,0,1,1,0
869,870,1,"Johnson, Master. Harold Theodor",0,4.0,1,1,347742,11.1333,0,S,0,0,1,1,0
870,871,0,"Balkic, Mr. Cerin",0,26.0,0,0,349248,7.8958,0,S,0,0,1,1,0
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,47.0,1,1,11751,52.5542,D35,S,1,0,0,0,1
872,873,0,"Carlsson, Mr. Frans Olof",0,33.0,0,0,695,5.0000,B51 B53 B55,S,1,0,0,1,0
873,874,0,"Vander Cruyssen, Mr. Victor",0,47.0,0,0,345765,9.0000,0,S,0,0,1,1,0
874,875,1,"Abelson, Mrs. Samuel (Hannah Wizosky)",1,28.0,1,0,P/PP 3381,24.0000,0,C,0,1,0,0,1
875,876,1,"Najib, Miss. Adele Kiamie ""Jane""",1,15.0,0,0,2667,7.2250,0,C,0,0,1,0,1
876,877,0,"Gustafsson, Mr. Alfred Ossian",0,20.0,0,0,7534,9.8458,0,S,0,0,1,1,0
877,878,0,"Petroff, Mr. Nedelio",0,19.0,0,0,349212,7.8958,0,S,0,0,1,1,0
878,879,0,"Laleff, Mr. Kristo",0,0.0,0,0,349217,7.8958,0,S,0,0,1,1,0
879,880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56.0,0,1,11767,83.1583,C50,C,1,0,0,0,1
880,881,1,"Shelley, Mrs. William (Imanita Parrish Hall)",1,25.0,0,1,230433,26.0000,0,S,0,1,0,0,1
881,882,0,"Markun, Mr. Johann",0,33.0,0,0,349257,7.8958,0,S,0,0,1,1,0
882,883,0,"Dahlberg, Miss. Gerda Ulrika",1,22.0,0,0,7552,10.5167,0,S,0,0,1,0,1
883,884,0,"Banfield, Mr. Frederick James",0,28.0,0,0,C.A./SOTON 34068,10.5000,0,S,0,1,0,1,0
884,885,0,"Sutehall, Mr. Henry Jr",0,25.0,0,0,SOTON/OQ 392076,7.0500,0,S,0,0,1,1,0
885,886,0,"Rice, Mrs. William (Margaret Norton)",1,39.0,0,5,382652,29.1250,0,Q,0,0,1,0,1
886,887,0,"Montvila, Rev. Juozas",0,27.0,0,0,211536,13.0000,0,S,0,1,0,1,0
887,888,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,B42,S,1,0,0,0,1
888,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",1,0.0,1,2,W./C. 6607,23.4500,0,S,0,0,1,0,1
889,890,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30.0000,C148,C,1,0,0,1,0
890,891,0,"Dooley, Mr. Patrick",0,32.0,0,0,370376,7.7500,0,Q,0,0,1,1,0

In [7]:
model = LogisticRegression()
X = df[['Age', 'Sex_0','Sex_1', 'Pclass_1', 'Pclass_2', 'Pclass_3']]
Y = df['Survived']

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3)
model.fit(X_train,Y_train)
model.predict(X_train)

/Users/romane/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 1])

Display the accuracy on the train set and the test set. What can you say ?

In [8]:
print(model.score(X_train, Y_train),'regression train.\n')
print(model.score(X_test,Y_test),'regression test.\n')

0.78330658105939 regression train.

0.7798507462686567 regression test.

Load the Decistion tree classifier and do the same. Are the performance identicals ?

In [9]:
tree = DecisionTreeClassifier()
tree.fit(X_train, Y_train)
prediction_survived_tree = tree.predict(X_train)

In [10]:
print(tree.score(X_train, Y_train),'tree train.\n')
print(tree.score(X_test,Y_test),'tree test.\n')

0.8796147672552167 tree train.

0.7947761194029851 tree test.